extends layout

block content
    h1=title
    form(method='POST')
        div.form-group
            label(for="year") Year:
            input.form-control(type='number', placeholder='Ie. 2023', name="year", required value=(undefined===car ? '':car.year))
            label(for="make") Make:
            input.form-control(type="text", placeholder='Ie. Toyota', name="make", required value=(undefined===car ? '':car.make))
            label(for="model") Model:
            input.form-control(type="text", placeholder='Ie. Corolla', name="model", required value=(undefined===car ? '':car.model))
        div.form-group
            label(for="stock") Stock:
            input.form-control(type='number',  name="stock", required value=(undefined===car ? 1:car.stock))
        div.form-group
            label(for="category") Category:
            select.form-control(name='category' required)
                option(value='') --Select Category--
                for category in allCategories 
                    if car
                        if car.category._id.toString()===category._id.toString()
                            option(value=category._id selected) #{category.name}
                        else
                            option(value=category._id) #{category.name}
                    else 
                        option(value=category._id) #{category.name}
        button.btn.btn-primary(type='submit') Submit
                    
    if errors
        p FORM NOT SUBMITTED! Please correct the following:
        ul 
            for error in errors 
                li!= error.msg