extends layout

block content
  h1= title

  p #[strong Category Name:] #{category.name}


  if category.commercial
    p #[strong Commercial:] YES
  else
    p #[strong Commercial:] NO

  if cars 
    p #[strong Cars in this category:]
    ul 
      for car in cars 
        li 
          a(href=car.url) #{car.year} #{car.make} #{car.model}
          

  p
    a(href='/categories') Back to Categories
  p
    a(href=category.url+'/update') Update Category
  p
    a(href=category.url+'/delete') Delete Category